<% const pageTitle = post.title; %>
<% include ../partials/header.ejs %>

<div class="container" style="display: flex; flex-direction: column; ">
  <div class="image-container">
    <img src="<%= post.image %>" class="post-image">
    <div class="image-overlay">
      <h1 class="display-5 fw-bold"><%= post.title %></h1>
      <span><i class="fa-solid fa-calendar fa-xs"></i> <%= post.created.toLocaleDateString() %> ┃ <i class="fa-solid fa-user fa-xs"></i> <%= post.author.username %></span>
      <span>
        <% if(currentUser && post.author.id.equals(currentUser._id)){ %>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center pt-3">
            <form action="/blog/<%= post._id %>?_method=delete" method="POST">
              <button class="btn btn-danger gap-3">
                <i class="fa-solid fa-trash fa-xs"></i> Odstranit příspěvek
              </button>
            </form>
            <a class="btn btn-primary" href="/blog/<%= post._id %>/edit"><i class="fa-solid fa-pen-to-square fa-xs"></i> Upravit příspěvek</a>
          </div>
          <% }else{} %>
      </span>
    </div>
  </div>

  <%- post.content %> <!-- Displaying post content with HTML tags -->
</div>
<% include ../partials/footer.ejs %>
